<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.matsim.server.application"
         name="MATSim Server"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.matsim.server.MATSimServer">
         </run>
      </application>
   </extension>
   <extension
         id="MATSimServerProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.matsim.server.application"
            name="ServerProduct">
         <property
               name="appName"
               value="ServerProduct">
         </property>
      </product>
   </extension>

</plugin>
