<?xml version="1.0" encoding="UTF-8"?>
<document
	xmlns="http://maven.apache.org/XDOC/2.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
	
	<properties>
		<title>MATSim Server</title>
		<author email="felix.voituret@gmail.com">Faylixe</author>
	</properties>

	<body>
	
			<section>
				<br/><br/>
				<p><center><img src="images/distant.png"/></center></p>
				<br/><br/>
				<p>Run simulation over a distant machine. Avoid using your personal machine resources,
				and dispatch as many simulation as you want into a more powerfull computing machine.</p>
			</section>
			
			<section>
				<br/><br/>
				<p><center><img src="images/rest.png"/></center></p>
				<br/><br/>
				<p>Upload your simulation's initial demand and run it using RESTFull API.
				Data are validated, then a simulation is started. Once it is done, you
				can retrieve output data using the API as well.</p>
			</section>

			<section>
				<br/><br/>
				<p><center><img src="images/monitoring.png" /></center></p>
				<br/><br/>
				<p>Track simulation progress whenever you want, including iteration number,
				and simulation steps (mobsim, scoring, or replanning) as well.</p>
			</section>
			
			<br/>
			<br/>

			<br/>
			<br/>
		
			<section name="Getting started">
				<p>Want to start ? Just download <a href="">MATSim Server</a> java binary and uploads it to your server, once it is done then run it !</p>
			</section>
	</body>	

</document>