<?xml version="1.0" encoding="UTF-8"?>
<document
	xmlns="http://maven.apache.org/XDOC/2.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

	<properties>
		<title>Page Title</title>
	</properties>
	
	<body>
	
		
		<h2>REST API Documentation</h2>
		
		<p>You can find here documentation about REST API provided by a running <b>MATSim Server</b>.
			
		Note that produced data(s) are returned to <tt>XML</tt> format.</p>
		
		<br/>
		
		<section>
						
			<hr></hr>
			
			<subsection name="/simulation/actives">
				<div class="row-fluid">
					<div class="span1"><span class="label label-info">GET</span></div>
					<div class="span1"><tt>/simulation/actives</tt></div>
					<div class="span10"></div>
				</div>
				<div class="padded">
					<br/>
					<p>Retrieves all running simulations identifier.</p>
					<p><b>Returns</b></p>
					<div class="padded"><p>List of running simulation identifiers</p></div>
				</div>
			</subsection>
			
			<hr></hr>
			
			<subsection name="/simulation/id/state">			
				<div class="row-fluid">
					<div class="span1"><span class="label label-info">GET</span></div>
					<div class="span1"><tt>/simulation/{id}/state</tt></div>
					<div class="span10"></div>
				</div>
				<div class="padded">
					<br/>
					<p>Retrieves state of the simulation corresponding to the given <tt>id</tt>. </p>
					<p><b>Parameters</b></p>
					<div class="padded">
						<div class="row-fluid">
							<div class="span2"><i>id</i></div>
							<div class="span10">Unique identifier of the simulation we want to retrieve state from.</div>
						</div>
					</div>
					<p><b>Returns</b></p>
					<div class="padded">
						<p>
							Simulation state. Such state are defined by the following attribute :<br/>
							<ul>
								<li>Simulation duration</li>
								<li><tt>(optional)</tt> current iteration if running</li>
								<li><tt>(optional)</tt> current phase if running</li>
							</ul>
						</p>
					</div>
				</div>
			</subsection>
			
			<hr></hr>
			
			<subsection name="/simulation/run">
				<div class="row-fluid">
					<div class="span1"><span class="label label-danger">POST</span></div>
					<div class="span1"><tt>/simulation/run</tt></div>
					<div class="span10"></div>
				</div>
				<div class="padded">
					<br/>
					<p>Simulation submission. A ZIP archive file is expected containing required
					initial demand for running simulation. Once data are validated, simulation
					is started in a distinct thread and could be monitored. A submitted archive should
					at least contains a file named <tt>config.xml</tt> which is the simulation configuration
					file that will be looked for.</p>
					<p><b>Parameters</b></p>
					<div class="padded">
						<div class="row-fluid">
							<div class="span2"><i>input</i></div>
							<div class="span10">ZIP archive file which contains our initial demand.</div>
						</div>
					</div>
					<p><b>Returns</b></p>
					<div class="padded">
						The id of the created simulation runtime which can be used to track
						simulation progression.
					</div>
				</div>
			</subsection>
			
						<hr></hr>
			
			<subsection name="/simulation/id/download">
				<div class="row-fluid">
					<div class="span1"><span class="label label-info">GET</span></div>
					<div class="span1"><tt>/simulation/{id}/download</tt></div>
					<div class="span10"></div>
				</div>
				<div class="padded">
					<br/>
					<p>Returns a ZIP archive which contains a ran simulation output content.
					If the simulation hasn't finished yet, or has encountered error, a 
					XML error object will be returned indicating that the simulation output
					has not been found.</p>
					<p><b>Parameters</b></p>
					<div class="padded">
						<div class="row-fluid">
							<div class="span2"><i>id</i></div>
							<div class="span10">Unique identifier of the simulation we want to retrieve state from.</div>
						</div>
					</div>
					<p><b>Returns</b></p>
					<div class="padded">
						Simulation output as a ZIP archive.
					</div>
				</div>
			</subsection>
		</section>
				
	</body>

</document>