/**
 * Custom CSS introduced for MATSim Server
 * documentation site.
 */
 
/** Little hack for removing Copyright section at footer. **/
.copyright {
	display: none;
}
 
/** Hacking brand link property to avoid overpadding. **/
a.brand {
	padding: 0px !important;
	padding-top: 5px !important;
	margin: 0px;
}
 
 /** Fixing logo height. **/
#brand {
	padding: 0px;
	margin: 0px;
	height: 35px;
	width : auto;
}

p.header {
	color: rgb(44, 62, 80);
	font-weight: bold;
	font-size: 25px;
}

.padded {
	padding-left: 2%;
}
